.Navbar {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.HeaderContainer {
    background-color: #f5f5f5;
    width: 100vw;
    height: fit-content;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.Header-h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 5vh;
    font-weight: 600;
}
.App-link {
    color: #000000;
    font-size: 2.5vh;
    text-decoration: none;
}
.App-link-selected {
    text-decoration: underline;
    font-weight: 600;
}
.App-link:nth-child(2) {
    margin-left: 5vw;
}
.App-link:nth-child(1) {
    margin-right: 5vw;
}
.Header-Pages {
    width: 100%;
}
img {
    border-radius: 10px;
}
.containerControlliPage {
    text-align: center;
    padding: 15px;
    align-items: center;
}
.gridRoomComponent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minMax(1px, auto);
    gap: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .gridRoomComponent {
        grid-template-columns: repeat(2, 1fr);
    }
}
.containerRoomComponent {
    margin-top: 5vh;
    background-color: #f5f5f5;
    height: fit-content;
    padding: 2vh;
    text-align: center;
}
.roomTitle {
    width: 100%;
    height: 25%;
}
.buttonRoomComponent {
    width: 95%;
    height: 10vh;
    margin-bottom: 1.5vh;
    align-items: center;
    display: flex;
    align-content: center;
    text-align: center;
}